body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    /* Font */
  --font-text-size: 16px;
  --font-default: ui-sans-serif, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica", "Arial", "Segoe UI", "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --font-monospace-default: Menlo, SFMono-Regular, Consolas, "Roboto Mono", 'Source Code Pro', monospace;
  --font-interface-theme: '??';
  --font-interface: var(--font-interface-theme), var(--font-default);
  --font-text-theme: '??';
  --font-text: var(--font-text-theme), var(--font-default);
  --font-monospace-theme: '??';
  --font-monospace: var(--font-monospace-theme), var(--font-monospace-default);
  --font-mermaid: var(--font-text);
}
